spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_OAUTH_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  application:
    name: moneyops-backend
  
  # H2 Database for now -
  datasource:
    url: jdbc:h2:file:./data/moneyops
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  kafka:
    enabled: false
    bootstrap-servers: localhost:9092

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration

server:
  port: 8000

jwt:
  secret: my-super-secret-key-that-is-at-least-256-bits-long-for-HS256-algorithm-must-be-longer
  expiration: 86400000  # 24 hours in milliseconds

logging:
  level:
    com.moneyops: DEBUG
    org.apache.kafka: ERROR