spring:
  application:
    name: ledgertalk-backend
  
  # H2 Database for now -
  datasource:
    url: jdbc:h2:file:./data/ledgertalk
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

logging:
  level:
    com.ledgertalk: DEBUG